*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

html{
   font-family: "poppins";
   margin: 0px;
   padding: 0px;

}

body{
margin: 0px;
margin-top: 0px;

}
main{
    margin: 0px;
    margin-top: 0px;
}

#hero{
    max-height: 990px;
    width: 100%;
    background: url("../images/herobackgroundnew2.png") no-repeat;
    margin-top: 0px;
    background-size: cover;
    padding-top: 47px;
    padding-left: 60px;
    padding-right: 60px;
    background-repeat: no-repeat;
    background-position: center top;
    
}
.nav{

    display: flex;
    justify-content: space-between;

}
 .navlist{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 55%;
    color: #ffffff;
    size: 18.47px;
 }

 .navbtn{
    box-sizing: border-box;
    height: 45px;
    padding-top: 10px;
    background-color: #4f4f4f;
border-radius: 30px;
padding-left: 20px;
width: 220px;
margin-top: -10px;


 }

.herotextfirst{
    color: #ffffff;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 69.76px;
    padding: 0px;
    
}
section {
    margin-bottom: 100px;
}
.herotextsecond{
    color: #404040;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
    line-height: 69.76px;
    padding: 0px;
    
}
.off{
    visibility: hidden;
    display: none;
}
.herofirstrow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
    
}

.heightincrease{
    height: 279px !important;
}

.herocolumn1{
    width: 55%;
}

.herocolumn2{
margin-top: -60px;
}
.heroimg{
max-width: 550px;
}
.row2trigger{
    float: right;
    background: #4F4F4F;
border-radius: 18px;
padding: 10px 20px;
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #e0e0e0;
}
.herorow2{
    background: #FFFFFF;
    box-shadow: 0px 2.8743px 17.2458px -0.718575px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(28.743px);
    border-radius: 28.743px;
    height: 190px;
    padding-top: 12.55px;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: -75px;
}
.row2form{
    display: flex;
    justify-content: space-between;
}

.row2form2{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggleswitch{
    display: flex;
    flex-direction: column;
    height: 120px;
    font-weight: 500;
    justify-content:space-evenly;
font-size: 17px;
line-height: 30px;
color:rgba(91, 91, 91, 0.79);
min-width: 22.5%;
margin-left: -25px;
}

.check1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.check2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.herorow2text{
    margin-bottom: 12.82px;
    font-size: 20px;
    margin-left: 24px;
}

.herobtn{
    color: #ffffff;
    font-size: 17px;
    max-height: 50px;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(180deg, #4200FF 0%, #3100BB 100%);
    border-radius: 18px;
    border: none;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 16px 16px;
}


.trgimg{
    margin-left: 5px;
}

.reasonforappointment{
    box-sizing: border-box;
    background: #EDECEC;
    border-radius: 13.0291px;
    width: 48.2%;
    height: 120px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    padding-bottom: 14.56px;
    margin-bottom: 16.8px;
}

.row2input{
    box-sizing: border-box;
    background: #EDECEC;
    border-radius: 13.0291px;
    max-width: 280px;
    max-height: 58.2px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    padding-bottom: 14.56px;
    margin-bottom: 16.8px;
}

::placeholder{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: rgba(91, 91, 91, 0.47);
}

.herobtn1{
    background-color: #4f4f4f;
    border-radius: 30px;
    border: none;
    max-width: 315px;
    max-height: 56px;
    margin-top: 24.31px;
    color: #ffffff;
    font-size: 18.4739;
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    font-weight: 500;

}

.wrapper{
    width: 100%;
}

.wrapper .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.hero-body{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    max-width: 587px;
}

.section-head{
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    margin-bottom: 5px;
    color: #404040
}
.patientstestimonies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.patientsname{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.patientsdepartment{
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 7.43px;
}

.patientscomment{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
}
.testimony{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 3.43167px 20.59px -0.857918px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34.3167px);
    border-radius: 12.6858px;
    height: 210px;
    max-width: 350px;
    padding: 22px 30px;
}

.patients-img img{
    width: 85.44px;
    height: 73.22px;
    margin-right: 15.22px;;
}
.section-sub-head{
font-size: 20px;
line-height: 22.5px;
text-align: center;
color: #b4b4b4;
font-weight: 500;
font-style: normal;
margin-bottom: 40.38px;
}

#our-medical-services{
padding-left: 100px;
padding-right: 100px;
}

.medical-services{
    position: relative;
    display: flex;
    align-items: center;

}

.med-service{
    border: 2px solid #4F4F4F;
    border-radius: 20px;
    max-width: 350px;
    max-height: 260px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 53px;
}

.medservice-title{
    font-style: normal;
    font-weight: 600;
    font-size: 19.5px;
    line-height: 39px;
    margin-bottom: 16px;
}

.medservice-body{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-weight: 400;
    
}

.medservice-bottom{
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(180deg, #4200FF 0%, #3100BB 100%);
    border-radius: 18px;
    border: none;
    width: 345px;
    height: 64px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

#medservicebtn{
margin-right: auto;
margin-left: auto;
}

.our-doctors{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.doctor-box{
   
    box-shadow: 0px 3.43167px 20.59px -0.857918px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34.3167px);
    padding-left: 55px;
    padding-right: 55px;
    width: 45%;
    height: 780px;
}

.doc-image{
   width: 100%;
   max-height: 388.8px;
   margin-bottom: 12.2px;
}

.doctors-name{
    font-size: 23.27px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #404040;
    line-height: 35px;
}

.doctors-speciality{
    color: #767676;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17.27px;
    margin-bottom: 40.52px;
}

.doctor-box-about{
    color: #404040;
    font-style: normal;
    font-weight: 500;
    font-size: 20.8466px;
    letter-spacing: 0.004em;
    margin-bottom: 8.69px;
}

.doctor-box-about-text{
    font-size: 17.37px;
    line-height: 27.8px;
    font-weight: 400;
    color: #404040;
    max-width: 443px;
}

.doctor-box-see-more{
    text-decoration: none;
    color: #4200ff;
    position: absolute;
    bottom: 48.77px;
    right: 26px;
    letter-spacing: 0.004em;
    font-weight: 500;
    font-size: 20.8446px;

}

#Patients-Testimonial{
    padding-right: 100px;
    padding-left: 100px;
}

#homepage-image{
    max-height: 760px;
    object-fit: cover;
}

.section-image{
    width: 100%;
}

#doctors-journal{
    padding-right: 100px;
    padding-left: 100px;
}
.journal-con{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.journal-box{
 width: 30%;
 border: 2px solid #4F4F4F;
border-radius: 20px;
height: 520px;
}

.journal-box .djimages{
    width: 100%;
    object-fit: cover;
    max-height: 269px;
    z-index: -1;
    position: relative;
    top: 0px;
}
.journalspace{
    color: #4F4F4F;
}

.twotopmargin{
    margin-top: 90px;
}

.djimagecaption{
    margin-top: -33px;
    z-index: 100000;
    background: #4F4F4F;
    border-radius: 0px 25px 25px 0px;
    max-width: 80%;
    font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.004em;
line-height: 21px;
padding: 17px 12px;
color: #FFFFFF;

}

.dj-p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.004em;
    color: #000000;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    margin-top: 29px;

}

.db-bottom{
    letter-spacing: 0.004em;
    font-style: normal;
font-weight: 400;
font-size: 14px;
color: #000000;
margin-left: 14.75px;

}

.db-bottom-image{
    margin-right: 8px;
    height: 18.5px;
    width: 18.5px;
    object-fit: contain;
}

.lastsection-subhead{
    text-align: center;
    margin-bottom: 8px;
}

#homepagelast{
    margin-bottom: 0px;
    padding: 100px 0px;
    background: url("../images/reverseherobackground.png");
}

footer{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #404040;

}

.hmepagecloserbutton{
    margin-top: 19px;
    background: #4F4F4F;
    border-radius: 30px;
    color: #ffffff;
    font-style: normal;
font-weight: 500;
font-size: 18.4739px;
line-height: 28px;
padding: 12px 23px;
border: none;
margin-right: auto;
margin-left: auto;
display: flex;
width: 230px;
}

.lastsection-subhead{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff
}

footer{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #4f4f4f;
    display: flex;
    flex-direction: column;
}

.footerrow1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 50px;
}

.r1c4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.r1c4 img{
    width: 56px;
    height: 56px;
    margin-left: 10px;
}

.r1c2 img{
    width: 56px;
    height: 56px;
    margin-right: 12px;
}

.r1c2{
    display: flex;
    flex-direction: row;
}

.ftwhitetext{
    letter-spacing: 0.004em;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.ftemphasis{
    letter-spacing: 0.004em;
    font-size: 18px;
    font-weight: 400;
    color: #000000; 
}

.footerrow2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
}

.r2c2{
    margin-top: 1px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.004em;
    display: flex;
    flex-direction: row;
}

.r2c2 p{
    margin-left: 24px;
}

.r2c1 p{
    max-width: 326px;
    font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #ffffff;
}